
@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="container p-3 pt-5 mb-5" id=questions>
    <div class="row m-n2">
        <div class="col-12">
            <form action="/questions" method="GET" class="d-flex justify-content-center ">
                <div class="form-group d-flex flex-row  col-8 col-lg-2">
                    <!-- <label for="orderby">orderby:</label> -->
                    <select name="orderby" id="orderby" class="form-control selectpicker1" multiple data-live-search="true" title="Choose Order">
                        <option>popular</option>
                        <option>name</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-light rounded-pill fa fa-sync" data-toggle="tooltip" data-placement="top" title="Apply"></button>
                </div>
                <div class="form-group d-flex flex-row ">
                    <button type="button" class="btn btn-light rounded-pill text-secondary fa fa-times-circle" data-toggle="tooltip" data-placement="top" title="Reset"></button>
                </div>

            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class=" container categories p-3">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
                        <div class="col mb-4 ">
                            <div class="card">
                                <img src="https://img.icons8.com/nolan/64/bug.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Categoryname</h5>
                                    <p class="card-text">Category Description</p>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card">
                                <img src="https://img.icons8.com/nolan/64/bug.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Categoryname</h5>
                                    <p class="card-text">Category Description</p>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card">
                                <img src="https://img.icons8.com/nolan/64/bug.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Categoryname</h5>
                                    <p class="card-text">Category Description</p>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-4">
                            <div class="card">
                                <img src="https://img.icons8.com/nolan/64/bug.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Categoryname</h5>
                                    <p class="card-text">Category Description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

