
@{
    ViewData["Title"] = "UserQuestions";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="h-75 w-100 position-absolute" >
    <img src="~/assets/img/user/photos-30-1.jpg" alt="background" class="img-fluid h-25 w-100 znindex1000 userbackgroundimage">
</div>
<div class="container p-3 pt-5 mb-5 " id=users>
    <div class="row ">
        <div class="col-12 col-md-3 border shadow bg-white  text-center">
            <a href="/users/1"><img src="https://img.icons8.com/nolan/64/user.png" class="icons pr-1"></a>
            <h6>User1name</h6>
            <span>10$ earned</span>
            <ul class="list-unstyled list-group flex-shrink-1">
                <li class="list-group-item">
                    <a href="/users/1/questions" class="text-success lighten-background">
                        <span class="fa fa-question"></span>
                        <p>Questions</p>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/users/1/answers" class="text-success">
                        <span class="fa fa-check"></span>
                        <p>Answers</p>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/users/1/earnings" class="text-success">
                        <span class="fa fa-dollar-sign"></span>
                        <p>Earnings</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-9 border shadow bg-white  text-center mt-5 pt-3">
            <div>

                <div class="row pl-3">
                    <h6>User1name's Questions</h6>
                </div>
                <div class="row container question">
                    <div class="  h-100 w-100 position-absolute pr-lg-5">
                        <div class="rounded border-top h-50">

                        </div>
                    </div>
                    <div class="col-12 col-lg-9 pt-2 d-flex flex-row justify-content-between">
                        <div>
                            <img src="https://img.icons8.com/nolan/64/user.png" class="icons pr-1" />
                        </div>
                        <div>
                            <a href="/questions/1"><h6>social media Sharing plugin.</h6></a>
                            <span class="text-secondary">17 views</span>
                            <span>Joseph Anderson Answered question 3 hours ago</span>
                            <a href="/category/Addons" class="text-secondary fa fa-sm fa-folder">Addons</a>
                            <a href="/tags/Social Media/" class="text-secondary fa fa-sm fa-tags">Social Media</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 pt-2 d-flex justify-content-around  h-75">
                        <div class="border-secondary rounded border p-1">
                            <p class="border-bottom border-secondary ">
                                1$
                            </p>
                            <p class="mt-n3">earned</p>
                        </div>
                        <div class="border-success rounded border p-1">
                            <a href="/questions/1" class="btn p-0">
                                <p class="border-bottom border-success ">
                                    10
                                </p>
                                <p class="mt-n3">answers</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row container question">
                    <div class="  h-100 w-100 position-absolute pr-lg-5">
                        <div class="rounded border-top h-50">

                        </div>
                    </div>
                    <div class="col-12 col-lg-9 pt-2 d-flex flex-row justify-content-between">
                        <div>
                            <img src="https://img.icons8.com/nolan/64/user.png" class="icons pr-1" />
                        </div>
                        <div>
                            <a href="/questions/1"><h6>social media Sharing plugin.</h6></a>
                            <span class="text-secondary">17 views</span>
                            <span>Joseph Anderson Answered question 3 hours ago</span>
                            <a href="/category/Addons" class="text-secondary fa fa-sm fa-folder">Addons</a>
                            <a href="/tags/Social Media/" class="text-secondary fa fa-sm fa-tags">Social Media</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 pt-2 d-flex justify-content-around  h-75">
                        <div class="border-secondary rounded border p-1">
                            <p class="border-bottom border-secondary ">
                                1$
                            </p>
                            <p class="mt-n3">earned</p>
                        </div>
                        <div class="border-success rounded border p-1">
                            <a href="/questions/1" class="btn p-0">
                                <p class="border-bottom border-success ">
                                    10
                                </p>
                                <p class="mt-n3">answers</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-12 d-flex flex-row">
        </div> -->
    </div>
    <!-- <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="row container tags p-3">

                </div>
            </div>
        </div>
    </div> -->
</div>

